.reviews {
  padding-top: 90px;
  padding-bottom: 90px;

  background-color: $primary-surface;

  &__container {
    color: $on-surface;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 40px;
    text-align: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1180px) {
  .reviews {
    padding-top: 60px;
    padding-bottom: 60px;

  }
}

// @media (max-width: 540px)

@media (max-width: 540px) {
  .reviews {
    padding-top: 30px;
  }
}
