<section class="gallery">
  <div class="gallery__container container">
    <div class="gallery__header">
      <div class="gallery__content-wrap">
        <h2 class="gallery__title">Sfeerfoto's</h2>
        <p class="gallery__lider">
          De beste manier om de sfeer te ervaren is eens langskomen.
        </p>
        <p class="gallery__lider">
          In tussentijd hebben we hier alvast wat foto's voor je klaar.
        </p>
      </div>

      <div class="gallery__navbar">
        <div class="swiper-button-prev gallery-button-prev custom-button-prev">
          <svg class="svg-icon-use">
            <use
              xlink:href="./images/sprite-mono.svg#icon-mono_swiper-arrow"
            ></use>
          </svg>
        </div>
        <div class="swiper-button-next gallery-button-next custom-button-next">
          <svg class="svg-icon-use">
            <use
              xlink:href="./images/sprite-mono.svg#icon-mono_swiper-arrow"
            ></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="gallery__photos">
    <div class="swiper gallery-swiper" id="id-gallery-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide gallery-slide">
          <div class="gallery__photo-wrap">
            <img src="./images/gallery-photo-1.jpg" alt="фото 1" />
          </div>
        </div>
        <div class="swiper-slide gallery-slide">
          <div class="gallery__photo-wrap">
            <img src="./images/gallery-photo-2.jpg" alt="фото 2" />
          </div>
        </div>
        <div class="swiper-slide gallery-slide">
          <div class="gallery__photo-wrap">
            <img src="./images/gallery-photo-3.jpg" alt="фото 3" />
          </div>
        </div>
        <div class="swiper-slide gallery-slide">
          <div class="gallery__photo-wrap">
            <img src="./images/gallery-photo-2.jpg" alt="фото 3" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
