<section class="advantages">
  <div class="advantages__container container">
    <div class="advantages__list">
      <!-- prettier-ignore -->
      @@include('src\layout\advantages\parts\advantages-item.html', {
        "mod": "--left",
        "title": "LEKKER ETEN",
        "text": "Eten gaat niet over indruk maken op mensen. Het gaat erom dat ze zich op hun gemak voelen. Dat is onze filosofie, goed eten in een goede sfeer.",
        "pathFoto": "./images/advantages_first-photo.jpg"
      })
      <!-- prettier-ignore -->
      @@include('src\layout\advantages\parts\advantages-item.html', {
        "mod": "--right",
        "title": "TOFFE AMBIANCE",
        "text": "Het creëren van de juiste sfeer is zeer belangrijk voor ons. We nemen onze tijd om te zorgen dat alle elementen bijdragen aan de juiste setting.",
        "pathFoto": "./images/advantages_second-photo.jpg"
      })
      <!-- prettier-ignore -->
      @@include('src\layout\advantages\parts\advantages-item.html', {
        "mod": "--left",
        "title": "LEKKERE COCKTAILS",
        "text": "Ons doel is simpel: een gastvrije plek bieden waar u kunt genieten van een onvergetelijke cocktail, een goed gesprek en lekker eten.",
        "pathFoto": "./images/advantages_third-photo.jpg"
      })
    </div>
  </div>
</section>
