<section class="menu">
  <div class="menu__container container">
    <div class="menu__day-list">
      <div class="menu__day-item">
        <div class="menu__date">Woensdag 12/01</div>
        <div class="menu__dish">
          <span class="menu__first-dish">Salade met Serrano</span>
          <span class="menu__separator"></span>
          <span class="menu__second-dish">Steak Tartaar</span>
        </div>
      </div>

      <div class="menu__day-item">
        <div class="menu__date">Donderdag 13/01</div>
        <div class="menu__dish">
          <span class="menu__first-dish">Toast Roquefort</span>
          <span class="menu__separator"></span>
          <span class="menu__second-dish">Penne met Kip en Prei</span>
        </div>
      </div>

      <div class="menu__day-item">
        <div class="menu__date">Vrijdag 14/01</div>
        <div class="menu__dish">
          <span class="menu__first-dish">Verrassing van de Chef</span>
          <span class="menu__separator"></span>
          <span class="menu__second-dish">Penne met Kip en Prei</span>
        </div>
      </div>

      <div class="menu__day-item">
        <div class="menu__date">Vrijdag 15/01</div>
        <div class="menu__dish">
          <span class="menu__first-dish">Verrassing van de Chef</span>
          <span class="menu__separator"></span>
          <span class="menu__second-dish">Penne met Kip en Prei</span>
        </div>
      </div>

      <div class="menu__day-item">
        <div class="menu__date">Vrijdag 16/01</div>
        <div class="menu__dish">
          <span class="menu__first-dish">Verrassing van de Chef</span>
          <span class="menu__separator"></span>
          <span class="menu__second-dish">Penne met Kip en Prei</span>
        </div>
      </div>
    </div>

    <div class="menu__gallery">
      <div class="menu__gallery-item">
        <div class="menu__gallery-left-photo">
          <img
            src="./images/menu_gallery-left-photo.jpg"
            alt="Interior photo 1"
          />
        </div>
        <div class="menu__gallery-right-photo">
          <img
            src="./images/menu_gallery-right-photo.jpg"
            alt="Interior photo 2"
          />
        </div>
      </div>
    </div>
  </div>
</section>
